#goTop {
    position: fixed;

    right: 1%;
    bottom: 2%;

    width: 10%;
    height: 6%;

    border-radius: 50px;
    box-shadow: 2px 2px 10px 2px #ccc;
    border: solid 3px black;

    background-color: white;

    transition: .7s;
}

#goTop a {
    margin: 8.5% auto;

    display: block;

    width: 60%;

    text-align: center;
    text-decoration: none;

    font-size: 20px;
    font-weight: bold;

    color: black;

    transition: .5s;
}

#goTop:hover {
    background-color: black;
    border: solid 3px orange;
}

#goTop:hover a {
    color: orange;
}