#goTop {
    position: fixed;

    right: 1%;
    bottom: 2%;

    width: 10%;
    height: 6%;

    border-radius: 2.5vw;
    box-shadow: 2px 2px 10px 2px #ccc;
    border: solid 0.2vw black;

    background-color: white;

    transition: .8s;
}

#goTop:hover {
    background-color: black;
    border: solid 0.2vw orange;
}

#goTop a {
    margin: 8.5% auto;

    display: block;

    width: 60%;

    text-align: center;
    text-decoration: none;

    font-size: 1vw;
    font-weight: bold;

    color: black;

    transition: color .8s;
}

#goTop:hover a {
    color: orange;
}