#nuli #nuli1 {
    margin: 0 auto;

    width: 100%;
    height: 46vw;

    text-align: center;
}

/* nuli1-1 */
#nuli #nuli1-1 {
    margin: 0 auto;

    width: 60vw;
    height: 10vw;
}

#nuli #nuli1-1 p {
    font-size: 2.1vw;
    font-weight: bold;
    line-height: 10vw;
}

#nuli #nuli1-1 div {
    margin: -8.5vw 42vw;

    width: 4vw;
    height: 3vw;

    line-height: 3vw;
    font-size: 1vw;
    font-weight: bold;
    color: white;

    background: #ff705b;
}

/* ul */
#nuli #nuli1 ul {
    margin: 0 auto;
    list-style: none;

    width: 64vw;
    height: 13vw;
}

#nuli #nuli1 ul li {
    margin-left: 4vw;
    float: left;

    width: 11vw;
    height: 100%;
}

#nuli #nuli1 ul li div {
    margin: 0 auto;
    width: 8vw;
    height: 8vw;
}

#nuli #nuli1 ul li:nth-child(1) div {
    background: url(../images/努力/花.png) no-repeat;
    background-size: 100% 100%;
}

#nuli #nuli1 ul li:nth-child(2) div {
    background: url(../images/努力/好评.png) no-repeat;
    background-size: 100% 100%;
}

#nuli #nuli1 ul li:nth-child(3) div {
    background: url(../images/努力/支持.png) no-repeat;
    background-size: 100% 100%;
}

#nuli #nuli1 ul li:nth-child(4) div {
    background: url(../images/努力/积累.png) no-repeat;
    background-size: 100% 100%;
}

/* nuli1-2 */
#nuli #nuli1-2 {
    margin: 0 auto;

    width: 60vw;
    height: 10vw;
}

#nuli #nuli1-2 p {
    font-size: 2vw;
    line-height: 10vw;
}

/* p */
#nuli #nuli1 span {
    color: #ff705b;
}

#nuli #nuli1 ul p span {
    font-size: 1vw;
}

#nuli #nuli1 ul li p {
    margin-top: 20%;

    font-size: 1vw;
    font-weight: bold;
}

/* yes */
#nuli #nuli1 .yes {
    width: 100%;
}

#nuli #nuli1 .yes #yes-1 {
    margin: 0 auto;

    width: 35vw;
    height: 5vw;

    border: solid 0.2vw black;
    border-radius: 9vw;

    transition: background .5s;
}

#nuli #nuli1 .yes #yes-1:hover {
    background: black;
}

#nuli #nuli1 .yes #yes-1 a {
    color: #666;

    font-size: 2vw;
    font-weight: bold;
    line-height: 5.5vw;
    text-decoration: none;

    transition: color 1s;
}

#nuli #nuli1 .yes #yes-1:hover a {
    color: #ff705b;
}