#video {
    margin: 3vw auto;
    width: 100%;
}

/*  video_mp4  */
#video #video_mp4 {
    width: 100%;
}

/*  video_fg */
#video #video_fg {
    position: absolute;
    top: 3vw;
    width: 100%;
    height: 31.7vw;

    background: rgba(0, 0, 0, .5);

    transition: background .6s ease-in-out;
}

#video #video_fg:hover {
    background: rgba(0, 0, 0, 0);
}

/*  video_img */
#video #img {
    margin: 8vw auto;

    width: 30%;
    height: 14vw;

    background: url(../images/zilu.png) no-repeat;
    background-size: 100% 100%;
}