#video {
    margin: 3.3% auto;
    width: 100%;
}

/*  video_mp4  */
#video #video_mp4 {
    width: 100%;
}

/*  video_fg */
#video #video_fg {
    position: absolute;
    top: 7%;
    width: 100%;

    background: rgba(0, 0, 0, .5);

    transition: .5s;
}

#video #video_fg:hover {
    background: rgba(0, 0, 0, 0);
}

/*  video_img */
#video #img {
    margin: 8% auto;

    width: 35%;
    height: 50%;

    background: url(../images/zilu.png) no-repeat;
    background-size: 100% 100%;
}