#ydff {
    width: 100%;
    height: 53vw;

    background-color: #e1e1e2;
}

/* p1 */
#ydff #p1 {
    padding: 5vw 0;

    text-align: center;
    font-size: 2vw;
}

/* ul */
#ydff ul {
    margin: 0 auto;

    list-style: none;

    width: 68vw;
    height: 30vw;
}

#ydff ul li {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;

    width: 15vw;
    height: 13vw;
    float: left;

    border-radius: 0.5vw;
    box-shadow: 0.3vw 0.3vw 0.9vw 0.3vw #999;

    transition: transform .8s;
}

#ydff ul li:nth-child(1) {
    width: 32vw;
    background: url(../images/ydff/paobu.png);
    background-size: 100% 100%;
}

#ydff ul li:nth-child(2) {
    background: url(../images/ydff/dengshan.png) no-repeat;
    background-size: 100% 100%;
}

#ydff ul li:nth-child(3) {
    background: url(../images/ydff/qixing.png);
    background-size: 100% 100%;
}

#ydff ul li:nth-child(4) {
    background: url(../images/ydff/yujia.png);
    background-size: 100% 100%;
}

#ydff ul li:nth-child(5) {
    background: url(../images/ydff/youyong.png);
    background-size: 100% 100%;
}

#ydff ul li:nth-child(6) {
    background: url(../images/ydff/panyan.png);
    background-size: 100% 100%;
}

#ydff ul li:nth-child(7) {
    background: url(../images/ydff/ssmt.png);
    background-size: 100% 100%;
}

#ydff ul li:hover {
    transform: scale(1.08);
}

/* d1  */
#ydff ul li .d1 {
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: 1s;
}

#ydff ul li:hover .d1 {
    border-radius: 0.5vw;
    background-color: rgba(0, 0, 0, .3);
}

#ydff ul li .d2 {
    margin: 0 auto;
    width: 10vw;
    height: 8vw;
}

#ydff ul li:hover .d2 {
    background: url(../images/m1.png) no-repeat;
    background-size: 100% 100%;
}

#ydff ul li .d3 {
    margin: 0 1vw;
    text-align: center;
}

#ydff ul li .d3 p {
    font-size: 1.5vw;
    font-weight: bold;
    transition: .5s;
    color: rgba(0, 0, 0, 0);
}

#ydff ul li:hover .d3 p {
    color: rgba(255, 255, 255, 1);
}