* {
    padding: 0;
    margin: 0;
}

#top {
    width: 100%;
    height: 100px;
    background-color: #eeeeee;
    position: relative;
    margin-top: -100px;
}

#top h1 {
    position: relative;
    top: 30px;
    left: 30px;
    color: #444444;
}