* {
    padding: 0;
    margin: 0;
}

#top {
    width: 100%;
    height: 6vw;
    background-color: #584f60;
    position: relative;
    margin-top: -6vw;
}

#top #top-title {
    margin: 0 auto;
    width: 45vw;
    height: 100%;
}

#top h1 {
    position: relative;
    top: 2vw;
    left: 1vw;
    color: white;
    font-size: 2vw;
}